<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
        <div class="container">
            <h1>Contact Us</h1>
            <p>
                The sales staff can be reached with a visit to our dealership, by giving our sales or finance department a call. Let us know what you'd like to discuss and any questions you might have. Once we receive your message, we'll be in touch!
            </p>
        </div>
    </body>

</html>
